# Import modules

In [1]:
import pandas as pd
import numpy as np

# Create dataframe

In [33]:
df = pd.read_csv("C:/Users/vpala/Artificial Intelligence/BeCode/challenge-collecting-data/utils/properties.csv")
df.head(10)

,Locality,Price,Bedrooms,Living area,Kitchen type,Furnished,Terrace surface,Garden surface,Surface of the plot,Number of frontages,Swimming pool,Building condition,Type of property
0,bruxelles,"500,000",2,90,USA uninstalled,0,12,None,None,2,0,As new,apartment
1,oupeye,"84,000",1,89,Not installed,1,None,125,167,2,None,To renovate,house
2,laeken,"475,000",3,163,USA hyper equipped,0,8,None,None,3,None,As new,duplex
3,boutersem,"425,000",5,190,Semi equipped,0,None,None,1520,4,0,To renovate,house
4,ixelles,"2,700,000",5,557,Hyper equipped,None,50,60,None,2,None,As new,duplex
5,forest,"137,500",None,45,None,0,None,None,None,None,None,To renovate,flat-studio
6,bruxelles,"450,000",2,125,Hyper equipped,0,10,None,None,None,0,As new,apartment
7,koksijde,"349,000",2,87,Hyper equipped,1,2,None,None,None,0,Good,duplex
8,waterloo,"299,000",2,80,Installed,0,16,None,None,None,None,To renovate,apartment
9,tervuren,"4,950,000",6,750,Hyper equipped,None,150,None,20000,4,1,Good,villa

In [51]:
df[df["Bedrooms"] == "None"]["Type of property"].value_counts()

mixed-use-building    18
apartment-block       16
house                  8
apartment              8
kot                    2
service-flat           1
mansion                1
country-cottage        1
penthouse              1
villa                  1
Name: Type of property, dtype: int64

# Remove new real estate projects

In [35]:
df.drop(df[df["Type of property"] == "new-real-estate-project-apartments"].index, inplace=True)

In [36]:
df.drop(df[df["Type of property"] == "new-real-estate-project-houses"].index, inplace=True)

# Clean column "Bedrooms"

### Subset dataframe for studios

In [38]:
df_studio = df[df["Type of property"] == "flat-studio"]

### Set number of rooms in studios to zero

In [39]:
df_studio["Bedrooms"].replace({"None":0, "1":0}, inplace=True)

C:\Users\vpala\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [40]:
df_studio[["Bedrooms"]].value_counts()

Bedrooms
0           179
dtype: int64

### Merge dataframes

In [41]:
df.drop(df[df["Type of property"] == "flat-studio"].index, inplace=True)

In [43]:
df = pd.concat([df, df_studio])

In [45]:
df[df["Type of property"] == "flat-studio"][["Bedrooms"]].value_counts()

Bedrooms
0           179
dtype: int64

### Remove remaining properties with "Bedrooms" equal to "None"

In [54]:
df[df["Bedrooms"] == "None"].value_counts().sum()

57

In [55]:
df.drop(df[df["Bedrooms"] == "None"].index, inplace=True)

### Convert "Bedrooms" to integer

In [102]:
df.Bedrooms = df.Bedrooms.apply(lambda x : int(x))

In [104]:
df.Bedrooms.dtype

dtype('int64')

# Clean column "Living area"

### Remove properties with "Living area" equal to "None"

In [89]:
df[df["Living area"] == "None"].value_counts().sum()

273

In [90]:
df.drop(df[df["Living area"] == "None"].index, inplace=True)

### Convert "Living area" to integer

In [105]:
df["Living area"] = df["Living area"].apply(lambda x: int(x))

In [106]:
df["Living area"]

0        90
1        89
2       163
3       190
4       557
       ...
9862     24
9945     21
9969     24
9976     53
9990     30
Name: Living area, Length: 9016, dtype: int64

In [117]:
# Smallest living area
df["Living area"].min()

15

# Clean column "Price"

In [146]:
df[df["Price"] == "None"]

Empty DataFrame
Columns: [Locality, Price, Bedrooms, Living area, Kitchen type, Furnished, Terrace surface, Garden surface, Surface of the plot, Number of frontages, Swimming pool, Building condition, Type of property]
Index: []

### Remove properties with "Price" equal to "None"

In [142]:
df.drop(df[df["Price"] == "None"].index, inplace=True)

### Convert "Price" to integer

In [151]:
df.Price = df.Price.apply(lambda x: int(x.replace(",", "")))

# Remove useless columns

In [225]:
df.columns

Index(['Locality', 'Price', 'Bedrooms', 'Living area', 'Kitchen type',
       'Furnished', 'Terrace surface', 'Garden surface', 'Swimming pool',
       'Type of property'],
      dtype='object')

In [224]:
df.drop(["Surface of the plot", "Number of frontages", "Building condition"], axis=1, inplace=True)

# Clean "Kitchen type"

In [204]:
# not equipped, semi-equipped, equipped or super-equipped
df["Kitchen type"].replace({
    "Installed":"equipped",
    "Hyper equipped":"super-equipped",
    "None":"not equipped",
    "Semi equipped":"semi-equipped",
    "USA hyper equipped":"super-equipped",
    "Not installed":"not equipped",
    "USA installed":"equipped",
    "USA semi equipped":"semi-equipped",
    "USA uninstalled":"not equipped",
    }, inplace=True)

In [212]:
df["Kitchen type"].value_counts()

equipped          3570
super-equipped    2571
not equipped      1659
semi-equipped     1132
Name: Kitchen type, dtype: int64

# Convert remaining "None" to zeros

In [219]:
df.replace("None", 0, inplace=True)

In [239]:
df.head(25)

,Locality,Price,Bedrooms,Living area,Kitchen type,Furnished,Terrace surface,Garden surface,Swimming pool,Type of property
0,bruxelles,500000,2,90,not equipped,0,12,0,0,apartment
1,oupeye,84000,1,89,not equipped,1,0,125,0,house
2,laeken,475000,3,163,super-equipped,0,8,0,0,duplex
3,boutersem,425000,5,190,semi-equipped,0,0,0,0,house
4,ixelles,2700000,5,557,super-equipped,0,50,60,0,duplex
6,bruxelles,450000,2,125,super-equipped,0,10,0,0,apartment
7,koksijde,349000,2,87,super-equipped,1,2,0,0,duplex
8,waterloo,299000,2,80,equipped,0,16,0,0,apartment
9,tervuren,4950000,6,750,super-equipped,0,150,0,1,villa
10,uccle,460000,3,116,semi-equipped,0,9,237,0,apartment
11,mortroux,230000,3,180,not equipped,0,17,123,0,villa
12,herstal,359000,3,120,not equipped,0,0,300,0,mixed-use-building
13,beveren,325000,2,97,super-equipped,0,17,0,0,duplex
15,montignies-sur-sambre,115000,3,120,not equipped,0,0,119,0,house
16,braine-lalleud,319500,2,90,super-equipped,0,10,0,0,apartment
17,ganshoren,210000,2,85,equipped,0,0,0,0,apartment
18,lasne,2450000,8,730,super-equipped,0,0,0,1,exceptional-property
19,duffel,229000,5,150,not equipped,0,0,0,0,house
20,aalst,569000,3,216,super-equipped,1,25,0,0,house
21,mechelen,276000,2,70,super-equipped,0,3,0,0,apartment
23,drogenbos,450000,3,125,super-equipped,0,0,0,0,house
24,uccle,1350000,3,228,super-equipped,0,61,300,0,ground-floor
25,schaerbeek,275000,1,78,super-equipped,0,0,0,0,apartment
26,bruxelles-ville,2900000,5,500,super-equipped,0,20,0,0,apartment
27,boom,329000,3,175,equipped,0,0,0,0,house